.box {
    margin: 0;
    padding: 0px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 380px;
    width: 450px;
    background-color: #1D2559;
    opacity: 0.9;
    border-radius: 25px;
    flex-direction: column;
    border: none;;
}

.news-container {
    display: grid;
    grid-template-columns: repeat(2, 400px);
    justify-content:center;
    gap: 30px 100px;
    margin-top: 20px;
    padding: 80px 20px;
    box-sizing: border-box;
}

.button-img {
    height: 250px;
    width: 300px;
    object-fit: cover;
    border-radius: 10px;
}

.box2 {
    height: auto;
    width: 200px;
    border: 3px solid black;
    margin-top: 15px;
    text-align: center;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

.text {
    color: white;
    font-size: 1rem;
    font-family: 'Exo 2', sans-serif;
}

.news-container a {
  text-decoration: none;
}



@media screen and (max-width: 480px) {
  .news-container {
    grid-template-columns: 1fr; 
    gap: 20px;
    padding: 10px;
    justify-items: center;
    padding-top: 30px;
  }

  .box {
    width: 100%;   
    max-width: 320px;
    height: auto; 
    padding: 20px;
  }

  .button-img {
    width: 100%;
    max-width: 220px;
    height: auto;
  }

  .box2 {
    width: 90%;
    max-width: 250px;
    font-size: 14px;
    margin: 10px auto 0;
  }

  .text {
    font-size: 0.9rem;
  }
}


@media screen and (min-width: 481px) and (max-width: 1024px) {
  .news-container {
    grid-template-columns: repeat(2, 1fr);
    gap: 25px 40px;
    padding: 20px 40px;
  }

  .box {
    width: 100%;
    max-width: 350px;
    height: auto;
    padding: 25px;
  }

  .button-img {
    width: 100%;
    max-width: 250px;
    height: auto;
  }

  .box2 {
    width: 80%;
    max-width: 280px;
    font-size: 15px;
  }

  .text {
    font-size: 1rem;
  }
}
