.profilesHeader {
   text-align: center;
}

.profilesHeader h1 {
   padding-top: 30px;
}

.profiles-picture {
   width: 350px;
   height: auto;
   border-radius: 20px;
}

.lyra {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 40px 200px;
   gap: 90px;
   }

.vex {
   display: flex;
   justify-content: space-between;
   flex-direction: row-reverse;
   align-items: center;
   padding: 40px 200px;
   gap: 90px;
   }

p {
   font-family: 'Exo 2', sans-serif;
   font-size: 18px;
   line-height: 23px;
}
