html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

main {
  background-image: url('Media/taustapilt2.webp');
  background-size: cover;         
  background-position: center;    
  background-repeat: no-repeat;   
  background-attachment: fixed;
  margin-top: -22px;
  min-height: 100vh
}

h1, h2, h3 {
  font-family: 'Orbitron', sans-serif;
  text-transform: uppercase;
  color: whitesmoke;
}

p {
  font-family: 'Exo 2', sans-serif;
  color: whitesmoke;
}

.site-header {
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: center;
  background-color: black;
  gap: 40px;
  animation: fadeDown 0.8s ease-in-out;
}

.site-header img {
  width: 100px; 
  transition: transform 0.3s ease, filter 0.3s ease;
}

.site-header img:hover {
  transform: scale(1.1);
  filter: drop-shadow(0 0 15px #00c8ff);
}

.site-header nav {
    display: flex;
    gap: 50px;
    margin-top: 50px;
    
}

.header-button {
  font-size: 21px;
  font-weight: bold;
  color: whitesmoke;
  text-decoration: none;
  font-family: 'Orbitron', sans-serif;
  text-transform: uppercase;
  position: relative;
  transition: color 0.3s ease;
}

.header-button::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 0%;
  height: 2px;
  background: linear-gradient(90deg, #3498db, #8e44ad);
  transition: width 0.3s ease-in-out;
}

.header-button:hover {
  color: #00c8ff;
  text-shadow: 0 0 5px #00c8ff, 0 0 10px #00c8ff, 0 0 20px #00c8ff;
}

.header-button:hover::after {
  width: 100%;
}

.header-button.active {
  color: #00c8ff;
  text-shadow: 0 0 5px #00c8ff, 0 0 10px #00c8ff;
}

.header-button.active::after {
  width: 100%;
}

.NavbarToggle {
  display: none;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0.5rem;
  
}
  
.NavbarToggleIcon {
  display: block;
  width: 1.5rem;
  height: 0.125rem;
  background-color: whitesmoke;
  position: relative;
    
}
  
.NavbarToggleIcon::before,
.NavbarToggleIcon::after {
  content: '';
  width: 1.5rem;
  height: 0.125rem;
  background-color: whitesmoke;
  position: absolute;
  left: 0px;
  transition: transform 0.3s ease;
}
  
.NavbarToggleIcon::before {
  top: -0.5rem;
}
  
.NavbarToggleIcon::after {
  top: 0.5rem;
    
}


.DropdownMenu {
  display: none;
  box-shadow: 1 4px 8px rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  z-index: 999;
}
  
.DropdownMenu.active {
  display: block;
}
  

  
.DropdownLinks {
  list-style: none;
  padding: 0;
  margin: 0 0 1.5rem 0;
}
  
.DropdownLink {
  text-decoration: none;
  font-size: 1rem;
  color: whitesmoke;
  font-weight: bold;
  display: block;
  padding: 0.5rem 0;
  transition: color 0.3s ease;
}
  
.DropdownLink:hover {
  color: #A67B5B;
}
  


@media screen and (max-width: 480px) {
  .NavbarToggle {
    display: block;
    margin: 10px;
    background: none;
    border: none;
    cursor: pointer;
    z-index: 1001;
    margin-right: -80px;
    margin-left: 50px;
    margin-top: -50px;
    
  }

  .header-button {
    display: none; 
  }

  
  .DropdownMenu {
    display: none;
    position: absolute;
    top: 100%;   
    left: 0;
    width: 100%;
    background-color: black;
    padding: 16px;
    z-index: 999;
    box-shadow: 0 4px 8px rgba(0,0,0,0.15);
  }

  .DropdownMenu.active {
    display: block;
  }

  .DropdownLinks {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin: 0;
    padding: 0;
  }

  .DropdownLink {
    font-size: 18px;
    font-weight: bold;
    color: whitesmoke;
    text-decoration: none;
  }

  .DropdownLink:hover {
    color: #00c8ff;
  }

  .logo img {
    width: 80px;
  }

}