html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

main {
  background-image: url('Media/taustapilt2.png');
  background-size: cover;         
  background-position: center;    
  background-repeat: no-repeat;   
  background-attachment: fixed;
  margin-top: -22px;
  min-height: 100vh
}

h1, h2, h3 {
  font-family: 'Orbitron', sans-serif;
  text-transform: uppercase;
  color: whitesmoke;
}

p {
  font-family: 'Exo 2', sans-serif;
  color: whitesmoke;
}

.site-header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color:black ;
    gap: 40px;
}

.site-header img {
    width: 100px;   
}

.site-header nav {
    display: flex;
    gap: 50px;
    margin-top: 50px;
    
}

.header-button {
  font-size: 21px;
  font-weight: bold;
  color: whitesmoke;
  text-decoration: none;
  font-family: 'Orbitron', sans-serif;
  text-transform: uppercase;
} 