html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: 'Audiowide', sans-serif;
  
  background-image: url('Media/taustapilt2.png');
  background-size: cover;         
  background-position: center;    
  background-repeat: no-repeat;   
  background-attachment: fixed;   
}

h1, h2, h3 {
  font-family: 'Orbitron', sans-serif;
  text-transform: uppercase;
}

.site-header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* background-color: white; */
    gap: 40px;
}

.site-header img {
    width: 100px;
    
}

.site-header nav {
    display: flex;
    gap: 50px;
    margin-top: 50px;
    
}